<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556146744271-m82fh67mcmmuj7ar7mffgf9u4mf3c3bc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556146744271-m82fh67mcmmuj7ar7mffgf9u4mf3c3bc</string>
	<key>API_KEY</key>
	<string>AIzaSyDUYlS4hDQmSReYILjcEAddib0fd6JSguw</string>
	<key>GCM_SENDER_ID</key>
	<string>556146744271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.exiont.Flower-shop</string>
	<key>PROJECT_ID</key>
	<string>flowershop-69766</string>
	<key>STORAGE_BUCKET</key>
	<string>flowershop-69766.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556146744271:ios:fb91ddf3fef1a0f60190ba</string>
</dict>
</plist>